<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- KSA Mysql环境 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1/ksa_logistics?autoReconnect=true" />
		<property name="username" value="ksa" />
		<property name="password" value="ksab915" />
		
        <!-- 配置初始化大小、最小、最大 -->  
        <property name="initialSize"><value>10</value></property>  
        <property name="minIdle"><value>10</value></property>  
        <property name="maxActive"><value>50</value></property>  
          
        <!-- 配置获取连接等待超时的时间 -->  
        <property name="maxWait"><value>60000</value></property>  
          
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->  
        <property name="timeBetweenEvictionRunsMillis"><value>60000</value></property>  
          
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->  
        <property name="minEvictableIdleTimeMillis"><value>300000</value></property>  
          
        <property name="validationQuery"><value>SELECT 1</value></property>  
        <property name="testWhileIdle"><value>true</value></property>  
        <property name="testOnBorrow"><value>false</value></property>  
        <property name="testOnReturn"><value>false</value></property>  
	</bean> 
	
	<!-- dao -->
	<import resource="classpath:spring/dao/dao-config.xml" />
	
	<!-- service -->
	<import resource="classpath*:spring/service/*-service-context.xml" />

</beans>